@charset "UTF-8";
*{ 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
    }
    body{
        background-image:linear-gradient(to right,#D9B6A3, #8D414D);
    }
    main{
        background-color: #d9b6a3;
        border-radius: 10px;
        box-shadow: 10px 10px 10px #092126;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1{
        color:#8D414D;
        text-align: center;
        text-shadow: 1px 1p 1px #092126;
    }

    h2{
        color: #8D414D;

    }
    p{
        text-align: justify;
    }